html, body {
    height: 100vh;
}
body {
    margin: 0;
    box-sizing: border-box;
    /*overflow: hidden;*/
}
.container {
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    /*background: #bcb4b4;*/
}
canvas {
    background: #efefef;
}
